# macOS
.DS_Store

# dependencies
node_modules/

# environment variables
.env
.env.*

# build output
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# large media (managed outside git)
waitlist/public/videos/

